html, body, .container {
  height: 100%;
  margin: 0;
}

@media (max-width: 600px) {
    html {
        overflow: hidden;
    }
    body {
        position: relative;
        overflow: hidden;
    }
}
#left {
    width: 50%;
    height: 100%;
    display: inline-block;
    float: left;
}
#right {
    width: 50%;
    height: 100%;
    display: inline-block;
    float: right;
}
#code {
	width: 100%;
	height: 100%; 
	box-sizing: border-box;
}
